@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  min-width: 1440px;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}
