input[type="file"] {
    display: none;
  }

  .custom-file-input {
    display: inline-block;
    background-color: #eaeaea;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
  }

  .custom-file-input span {
    font-size: .9em;
    color: #000;
}