.popup-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 55vh;
  max-height: 60vh;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 27%;
  margin-top: 5%;
  z-index: 1500;
  animation: fadePopup 1s;
}

@keyframes fadePopup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup-title {
  display: flex;
  justify-content: space-between;
  background-color: #c6261e;
  width: 100%;
  padding: 1.3rem;
  align-self: center;
  color: white;
  margin-bottom: 0.5rem;
  font-weight: bolder;
  font-size: 1.1rem;
  border-radius: 1px;
}
.popup-title > p {
  position: absolute;
  margin-top: 0.3rem;
  top: 0;
}
.popup-title > .bi {
  position: absolute;
  margin-top: 0.8rem;
  top: 0;
  right: 0;
  margin-right: 3rem;
  cursor: pointer;
}
.popup-body {
  display: flex;
  flex-direction: column;
  width: 110%;
  padding-right: 20px;
  overflow-y: scroll;
}
.popup-country {
  display: flex;
  color: #707070;
  margin-left: 2rem;
  padding-top: 2rem;
}

.popup-country > p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
.popup-country > span {
  font-size: 0.7rem;
  font-weight: 100;
  font-style: italic;
}

.popup-info {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  font-weight: 600;
  margin-left: 2rem;
}
hr {
  margin: auto;
  width: 80%;
}
.popup-icons {
  width: 37.6px;
  height: 51.4px;
  padding: 6px 5px 10.8px 3.4px;
}

.popup-info-number {
  font-family: "Helvetica";
  font-weight: 600;
  line-height: 1;
  font-style: normal;
  font-size: 1.4rem;
  color: #c6261e;
  margin-bottom: 0;
}
