.info-container {
  height: 100vh;
  display: flex;
  width: 100%;
  background-color: #fff;
}

.info-container > .info-article {
  position: absolute;
  width: 15%;
  text-align: center;
  border-color: #c71d0e !important;
  padding: 30px;
}
.info-container > .info-article::before {
  content: "";
  position: absolute;
  width: 15%;
  text-align: center;
  border-color: #c71d0e !important;
}

.info-container > .info-article::after {
  content: "";
  position: absolute;
  width: 15%;
  text-align: center;
  border-color: #c71d0e !important;
}

.seed {
  margin-left: 10%;
  margin-top: 22%;
}

.seed::before {
  content: "";
  position: fixed;
  margin-top: -74%;
  margin-left: 0;
  padding-top: 55%;
  padding-left: 75%;
  border-top: 2px solid;
  border-left: 2px solid;
  border-color: #c71d0e !important;
  border-top-left-radius: 30px;
}

.supervision {
  margin-left: 30%;
  margin-top: 10%;
}

.supervision::after {
  content: "";
  position: fixed;
  margin-top: -86%;
  margin-left: 60%;
  padding-top: 36%;
  padding-left: 75%;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #c71d0e !important;
  border-bottom-right-radius: 30px;
}

.process {
  margin-top: 3%;
  margin-left: 71%;
}

.process::before {
  content: "";
  position: fixed;
  margin-top: 5%;
  margin-left: -138%;
  padding-left: 84%;
  padding-bottom: 40%;
  border-top: 2px solid;
  border-color: #c71d0e !important;
  border-top-left-radius: 30px;
}

.process::after {
  content: "";
  position: fixed;
  margin-top: -74%;
  margin-left: 55%;
  padding-left: 25%;
  padding-bottom: 10%;
  border-top: 2px solid;
  border-color: #c71d0e !important;
  border-top-right-radius: 30px;
}

.logistics {
  margin-left: 71%;
  margin-top: 20%;
}

.logistics::after {
  content: "";
  position: fixed;
  margin-top: -74%;
  margin-left: 55%;
  padding-left: 5%;
  padding-bottom: 10%;
  border-top: 2px solid;
  border-color: #c71d0e !important;
  border-top-right-radius: 30px;
}
.exports {
  margin-left: 55%;
  margin-top: 32%;
  border-right: 2px solid;
  border-color: #c71d0e !important;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.article-img {
  position: absolute;
  height: 80%;
  margin-left: 20%;
  margin-top: 5%;
}
