.info-container {
  height: 100vh;
  display: flex;
  width: 100%;
  background-color: #fff;
}

.info-container > .info-article {
  position: absolute;
  width: 15%;
  text-align: center;
  border-color: #c71d0e !important;
  padding: 30px;
}
.info-container > .info-article::before {
  content: "";
  position: absolute;
  width: 16%;
  text-align: center;
  border-color: #c71d0e !important;
}

.info-container > .info-article::after {
  content: "";
  position: absolute;
  width: 15%;
  text-align: center;

  border-color: #c71d0e !important;
}

.info-title {
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #0d0d0d;
}
.info-text {
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #000;
}

.info-text > span {
  font-weight: bold;
}

.seed {
  margin-left: 10%;
  margin-top: 22%;
}

.seed::before {
  content: "";
  position: absolute;
  margin-top: -74%;
  margin-left: 0;
  padding-top: 55%;
  padding-left: 75%;
  border-top: 2px solid;
  border-left: 2px solid;
  border-color: #c71d0e !important;
  border-top-left-radius: 30px;
}

.supervision {
  margin-left: 30%;
  margin-top: 10%;
}

.supervision::after {
  content: "";
  position: absolute;
  margin-top: -87%;
  margin-left: 60%;
  padding-top: 36%;
  padding-left: 75%;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #c71d0e !important;
  border-bottom-right-radius: 30px;
}

.process {
  margin-top: 3%;
  margin-left: 71%;
}

.process::before {
  content: "";
  position: absolute;
  margin-top: 7%;
  margin-left: -138%;
  padding-top: 10%;
  padding-left: 85%;
  border-top: 2px solid;
  border-left: 2px solid;
  border-color: #c71d0e !important;
  border-top-left-radius: 30px;
}
.process::after {
  content: "";
  position: absolute;
  margin-top: -75%;
  margin-left: 48%;
  padding-top: 103%;
  padding-right: 5%;
  border-right: 2px solid;
  border-top: 2px solid;
  border-color: #c71d0e !important;
  border-top-right-radius: 30px;
}

.logistics {
  margin-left: 71%;
  margin-top: 20%;
}

.logistics::after {
  content: "";
  position: absolute;
  margin-top: -69%;
  margin-left: 48%;
  padding-top: 10%;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #c71d0e !important;
  border-bottom-right-radius: 30px;

  border-color: #c71d0e !important;
}
.exports {
  margin-left: 55%;
  margin-top: 32%;
}

.exports::after {
  content: "";
  position: absolute;
  margin-top: -154%;
  margin-left: 0;
  padding-top: 60%;
  padding-left: 60%;
  border-top: 2px solid;
  border-left: 2px solid;
  border-color: #c71d0e !important;
  border-top-left-radius: 30px;
}
.article-img {
  position: absolute;
  height: 80%;
  margin-left: 14%;
  margin-top: 8%;
}
