.info-container {
  height: 100vh;
  display: flex;
  width: 100%;
  background-color: #fff;
}

.info-container > .info-article {
  position: relative;
  width: 15%;
  text-align: center;
  border-color: #c71d0e !important;
  padding: 30px;
}
.info-container > .info-article::before {
  content: "";
  position: absolute;
  width: 16%;
  text-align: center;
  border-color: #c71d0e !important;
}

.info-container > .info-article::after {
  content: "";
  position: absolute;
  width: 15%;
  border-color: #c71d0e !important;
}

.info-title {
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #0d0d0d;
}
.info-text {
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #000;
}

.info-text > span {
  font-weight: bold;
}

.seed {
  position: absolute;

  margin-left: 13%;
  margin-top: 20%;
  animation: seedMove 5s;
}
@keyframes seedMove {
  from {
    left: -70%;
  }
  to {
    left: 0;
  }
}

.seed::before {
  content: "";
  margin-top: -74%;
  margin-left: 0;
  padding-top: 55%;
  padding-left: 75%;
  border-top: 2px solid;
  border-left: 2px solid;
  border-color: #c71d0e !important;
  border-top-left-radius: 30px;
}

.supervision {
  position: absolute;

  margin-left: 6%;
  margin-top: 8%;
  animation: seedMove 5s;
}

.supervision::after {
  content: "";
  margin-top: -74%;
  margin-left: 60%;
  padding-top: 22%;
  padding-left: 75%;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #c71d0e !important;
  border-bottom-right-radius: 30px;
}

.process {
  position: absolute;

  margin-top: 2%;
  margin-left: 26.3%;
  animation: seedMove 5s;
}

.process::before {
  content: "";
  margin-top: 7%;
  margin-left: -140.3%;
  padding-top: 25%;
  padding-left: 80%;
  border-top: 2px solid;
  border-left: 2px solid;
  border-color: #c71d0e !important;
  border-top-left-radius: 30px;
}
.process::after {
  content: "";
  margin-top: -78%;
  margin-left: 48%;
  padding-top: 110%;
  padding-right: 5%;
  border-right: 2px solid;
  border-top: 2px solid;
  border-color: #c71d0e !important;
  border-top-right-radius: 30px;
}

.logistics {
  position: absolute;
  margin-left: -14%;
  margin-top: 20%;
  animation: seedMove 5s;
}

.logistics::after {
  content: "";
  margin-top: -71%;
  margin-left: 41.7%;
  padding-top: 10%;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #c71d0e !important;
  border-bottom-right-radius: 30px;

  border-color: #c71d0e !important;
}
.exports {
  position: absolute;

  margin-left: -30%;
  margin-top: 31.6%;
  animation: seedMove 5s;
}

.exports::after {
  content: "";
  margin-top: -154%;
  margin-left: 0;
  padding-top: 60%;
  padding-left: 60%;
  border-top: 2px solid;
  border-left: 2px solid;
  border-color: #c71d0e !important;
  border-top-left-radius: 30px;
}
.article-img {
  position: absolute;
  height: 80%;
  margin: auto;
  margin-top: 3%;
  left: 25%;
  animation: fadeImg 5s;
}
@keyframes fadeImg {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  .info-container > .info-article {
    position: absolute;
    width: 50%;
  }
  .info-container > .info-article::before {
    content: "";
    position: absolute;
    width: 16%;
    text-align: center;
    border-color: #c71d0e !important;
  }

  .info-container > .info-article::after {
    content: "";
    position: absolute;
    width: 15%;
    text-align: center;
    border-color: #c71d0e !important;
  }

  .info-title {
    font-size: 1.1em;
    margin-bottom: 0.1em;
  }
  .info-text {
    font-size: 0.8rem;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #000;
  }

  .info-text > span {
    font-weight: bold;
  }

  .seed {
    margin-left: 25%;
    margin-top: 6%;
    animation: seedMove 5s;
  }

  .seed::before {
    content: "";
    border-bottom: 2px solid;
    border-left: 0;
    border-top: 2px solid;
    border-right: 2px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    margin-left: 25%;
    margin-top: 5%;
    position: absolute;
    padding-right: 0%;
    padding-left: 30%;
    padding-bottom: 13%;
  }

  .supervision {
    margin-left: 12%;
    margin-top: 41%;
  }

  .supervision::before {
    content: "";
    border-bottom: 2px solid;
    border-right: 0;
    border-top: 2px solid;
    border-left: 2px solid;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    margin-left: -59%;
    margin-top: 5%;
    position: absolute;
    padding-right: 10%;
    padding-left: 17%;
    padding-bottom: 75%;
  }

  .process {
    margin-top: 79%;
    margin-left: 48%;
    animation: seedMove 5s;
  }

  .process::before {
    content: "";
    border-bottom: 0;
    border-right: 0;
    border-top: 2px solid;
    border-left: 0;
    border-top-left-radius: 0;
    margin-left: -56%;
    margin-top: 5%;
    position: absolute;
    padding-right: 10%;
    padding-left: 17%;
  }

  .logistics {
    margin-left: 10%;
    margin-top: 125%;
  }

  .logistics::after {
    content: "";
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-top: 0;
    border-left: 0;
    border-top-left-radius: 20px;
    border-top-left-radius: 0;
    margin-left: 30%;
    margin-top: -74%;
    position: absolute;
    padding-bottom: 2%;
    padding-left: 46%;
  }

  .exports {
    margin-left: 45%;
    margin-top: 162%;
    animation: seedMove 5s;
  }
  .exports::before {
    content: "";
    border-bottom: 2px solid;
    border-right: 0;
    border-top: 2px solid;
    border-left: 2px solid;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    margin-left: -130%;
    margin-top: -70%;
    position: absolute;
    padding-left: 20%;
    padding-bottom: 68%;
  }
  .exports::after {
    content: "";
    border-bottom: 0;
    border-right: 0;
    border-top: 2px solid;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: -112%;
    padding-right: 10%;
    margin-top: -81%;
    position: absolute;
  }
  .process::after,
  .supervision::after {
    display: none;
  }

  .article-img {
    position: relative;
    height: 30%;
    margin-left: -31%;
    margin-top: 57%;
  }
}
