.footer-container {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20vh;
  width: 100%;
  vertical-align: center;
  padding: 0 7em 0 7em;
}

.footer-logo {
  width: 166px;
  height: 166px;
}

.footer-icon {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 0.2em 0 0.2em;
}
.facebook-icon {
  width: 2.5em;
}
.footer-text {
  width: 100vmax;
  justify-self: center;
  align-self: center;
}
.footer-icons-container {
  width: 10%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  min-height: 100%;
}
.anchor-footer,
.anchor-footer:link,
.anchor-footer:visited,
.anchor-footer:hover,
.anchor-footer:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
@media only screen and (max-width: 767px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 20vh;
    width: 100%;
    align-items: center;
    padding: 0 0.4em 0 1em;
  }

  .footer-logo {
    width: 86px;
    height: 86px;
  }

  .footer-icon {
    font-size: 1.3em;
    margin: 0;
  }

  .footer-icons-container {
    width: 18%;
    margin-right: 0.4em;
    justify-content: space-around;
    display: flex;
    align-items: center;
    min-height: 100%;
  }
  .facebook-icon {
    width: 1.6em;
  }
  .footer-text {
    width: 100vmax;
    font-size: 0.6em;
    text-align: start;
    align-self: center;
  }
}
@media only screen and (max-width: 376px) {
  .footer-text {
    width: 100vmax;
    font-size: 0.5em;
    text-align: left;
    align-self: center;
  }
  .facebook-icon {
    width: 1.1em;
  }
  .footer-icon {
    font-size: 1.1em;
    margin: 0;
  }
}
@media only screen and (max-width: 321px) {
  .footer-text {
    max-width: 30%;
    font-size: 0.6em;
    text-align: center;
    align-self: center;
  }
}
