.footer-container {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20vh;
  width: 100%;
  vertical-align: center;
}

.footer-logo {
  width: 166px;
  height: 166px;
  margin: 0 69px 0 0;
}

.footer-icon {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
}

.footer-icons-container {
  width: 10%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  min-height: 100%;
}
.anchor-footer,
.anchor-footer:link,
.anchor-footer:visited,
.anchor-footer:hover,
.anchor-footer:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
@media only screen and (max-width: 600px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 20vh;
    width: 100%;
    align-items: center;
  }

  .footer-logo {
    width: 50px;
    height: 50px;
    margin: 0 1em 0 1em;
  }

  .footer-icon {
    font-size: 1.1em;
  }

  .footer-icons-container {
    width: 18%;
    margin-left: 0.7em;
    justify-content: space-around;
    display: flex;
    align-items: center;
    min-height: 100%;
  }
  .footer-text {
    position: relative;
    font-size: 0.7em;
  }
}
