.countries-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f7f7f7;
}

.countries-map-container {
  background-image: url("../../assets/images/Landing/map_samal.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  object-fit: cover;
}

.circle {
  position: relative;
  height: 2rem;
  width: 2rem;
  border: solid 5px #c6261e;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.north-america {
  margin-top: 7%;
  margin-left: 12%;
}

.caribbean {
  margin-top: -12%;
  margin-left: 20%;
}

.south-america {
  margin-top: 22%;
  margin-left: 28%;
}

.europe {
  margin-left: 55%;
  margin-top: -18%;
}

.asia {
  margin-left: 72%;
}

.africa {
  margin-left: 53%;
  margin-top: 12%;
}

.circle > span {
  position: absolute;
  cursor: pointer;
  color: white;
  width: max-content;
  margin-top: -0.3rem;
  padding: 0.5rem 0.6rem 0.4rem 0.6rem;
  border-radius: 20px;
  background-color: #c6261e;
  font-weight: 700;
}

.north-america > span {
  margin-left: -8.8rem;
}

.caribbean > span {
  margin-left: -16.5rem;
}
.south-america > span {
  margin-left: -8.8rem;
}

.europe > span {
  margin-left: -4.5rem;
}
.asia > span {
  margin-left: -2.6rem;
}
.africa > span {
  margin-left: -4rem;
}
@media only screen and (max-width: 1100px) {
  .caribbean {
    margin-top: -12%;
    margin-left: 20%;
  }

  .south-america {
    margin-top: 20%;
    margin-left: 28%;
  }

  .europe {
    margin-left: 55%;
    margin-top: -18%;
  }
}
@media only screen and (max-width: 980px) and (min-width: 768px) {
  .caribbean {
    margin-top: -12%;
    margin-left: 19%;
  }

  .south-america {
    margin-top: 15%;
    margin-left: 27%;
  }

  .europe {
    margin-left: 55%;
    margin-top: -19%;
  }
}
