.propose-container {
  font-family: "Roboto", sans-serif;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #c6261e;
  color: white;
}
.propose-title {
  font-weight: 300;
  font-family: Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.cards-propose-container {
  position: relative;
  display: flex;
  align-self: center;
  flex-direction: row;
  width: 84%;
}

.card-propose-text {
  font-size: 1.3rem;
  line-height: 1;
  color: #fff;
  width: 85%;
  margin: auto;
}
.card-propose-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.32;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}
.propose-gifs-container {
  width: 80%;
  margin: auto;
}
.propose-gifs {
  max-width: 75%;
  height: 11em;
  margin: auto;
}
