.propose-container {
  font-family: "Roboto", sans-serif;
  position: relative;
  height: 100vh;
  max-width: 100%;
  background-color: #c6261e;
  color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.cards-propose-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  margin: auto;
  padding: 2rem;
  margin-left: 4rem;
}

.card-propose-text {
  font-size: 1.3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #fff;
  width: 75%;
  margin: auto;
}
.card-propose-title {
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
