.header-container {
  min-width: 100vmax;
  height: 100vh;
}

.header-body {
  position: absolute;
  z-index: 100;
}
.videoTag {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .header-container {
    background-image: url("../../assets/images/Landing/5.jpg");
    background-position: 67% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
  }
  .videoTag {
    display: none;
  }
}
