.contact-container {
  background-image: url("https://media.istockphoto.com/photos/cropped-view-of-man-holding-bean-seeds-on-palm-above-hole-in-soil-picture-id1312202207?k=20&m=1312202207&s=612x612&w=0&h=o5wAhgWOjI9Rphsibov9zf_FYHer7JnVZ6vmrLB-F60=");
  background-size: cover;
  height: 100vh;
}
