.navbar {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 1em;
  line-height: 0.4;
}

.nav-link:hover {
  color: #c6261e !important;
}

.samal-logo {
  width: 300px;
  height: 80px;
  margin: 79px 66px 0;
}
.nav-link {
  margin-top: 1rem;
  margin-right: 0.6rem;
}

.client-icon {
  width: 1.3em;
  height: 2em;
  margin: 0.8rem 0.3rem 0 0.8rem;

  padding: 3px 2px 7.8px 0.4px;
}
.client-icon:hover {
  cursor: pointer;
}

.bold-word {
  font-weight: bold;
  color: #c6261e !important;
}

.nav-feature {
  position: absolute;
  font-size: 0.8rem;
  margin-top: 3.1rem;
  padding: 0.3rem 0.6rem 0.4rem 0.6rem;
  border-radius: 20px;
  background-color: #c6261e;
  cursor: pointer;
  color: white;
  margin-left: -1.4rem;
  width: max-content;
}
@media only screen and (max-width: 600px) {
  .burguer-toogle {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 15%;
  }
  .burguer-toogle-img {
    cursor: pointer;
    opacity: 0.6;
    right: 0;
    margin: 2em;
    width: 25%;
  }
  .samal-logo {
    width: 150px;
    height: 40px;
    left: 0;
    margin: 0 0 0 1em;
  }
  .lang {
    margin-left: 0.6em;
    cursor: pointer;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    margin-left: 2em;
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 1em;
    line-height: 0.4;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    margin-left: 2em;
    font-size: 0.9em;
  }
  .nav-link:hover {
    color: #c6261e !important;
  }

  .samal-logo {
    width: 200px;
    height: 80px;
    margin: 0;
  }
  .nav-link {
    margin-top: 1rem;
    margin-right: 0.6rem;
  }

  .client-icon {
    width: 1.3em;
    height: 2em;
    margin: 0.8rem 0.3rem 0 0.8rem;

    padding: 3px 2px 7.8px 0.4px;
  }
  .client-icon:hover {
    cursor: pointer;
  }

  .bold-word {
    font-weight: bold;
    color: #c6261e !important;
  }

  .nav-feature {
    position: absolute;
    font-size: 0.8rem;
    margin-top: 3.1rem;
    padding: 0.3rem 0.6rem 0.4rem 0.6rem;
    border-radius: 20px;
    background-color: #c6261e;
    cursor: pointer;
    color: white;
    margin-left: -1.4rem;
    width: max-content;
  }
}
