.navbar {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
.nav-item {
  height: 26px;
  font-family: "Roboto";
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  line-height: 1.23;
  letter-spacing: normal;
  margin-right: 25px;
  text-align: left;
  color: #707070;
}

.samal-logo {
  width: 358px;
  height: 90px;
  margin: 79px 66px 0;
}
